@import '../../../../vendor/filament/filament/resources/css/theme.css';

@config 'tailwind.config.js';

:root {
    --color-primary-50: 254 243 199;
    --color-primary-100: 253 230 138;
    --color-primary-200: 252 211 77;
    --color-primary-300: 251 191 36;
    --color-primary-400: 251 146 60;
    --color-primary-500: 249 115 22;
    --color-primary-600: 234 88 12;
    --color-primary-700: 194 65 12;
    --color-primary-800: 154 52 18;
    --color-primary-900: 124 45 18;
    --color-primary-950: 67 20 7;
}

.fi-sidebar {
    @apply bg-primary-50 dark:bg-primary-950;
}

.fi-main-ctn {
    @apply bg-primary-50/50 dark:bg-primary-950/50;
}

